<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Tailor-Account.css">
</head>
<body>
    <div class="outerContainer">
        <h1 class="name"><%= existingTailor.fullname%></h1>
        <h3 class="tailorID">@<%=existingTailor.tailorId%></h3>
        <br><br>
        <form action="/post-design" method="get">
            <button class="button">Upload your creation</button>
        </form>

        <%for(let des of designs){%>
            <div class="card1">
                <h1 class="title1"><%=des.title%></h1>
                <br>
                <div class="inner1">
                    <img src="<%=des.images[0]%>" alt="" class="fabricImage1">
                    <div class="desc1"><h3><%= des.description%></h3>
                        <br><br>
                        <h1>Making charges : <%= des.makingCharges%>/-</h1>
                        <br><br>
                    </div>
                </div>
            </div>
        <%}%>
    </div>    
</body>
</html>